
@media all and (max-width: 1024px) {

    .head-prod-name {
        display: block;
        text-transform: capitalize;
        font-size: 30px;
        color: #fff;
        text-decoration: none;
    }

    .head-prod-name > sup {
        vertical-align: super;
        font-size: 30px;
    }

    .head-prod {
        width: 91%;
        /* height: 314px; */
        margin: 0 auto;
       /* padding: 100px 0 0 0;*/
    }

    .head-prod-cont {
        position: relative;
        overflow: hidden;
    }

    .head-prod-cont > span {
        margin-top: 10px;
        display: block;
        font-size: 21px;
        font-weight: 300;
        color: #fff;
        text-transform: uppercase;
        line-height: 1;
    }

    .head-prod > img {
        float: right;
        /* width: 100%; */
        /* width: 266px; */
        max-width: 100%;
        margin-left: 50px;
        margin-top: 20px;
    }

    .block-header {
        display: none;
    }

    .vitamines-menu-cont-2 li {
        width: 247px;
        height: 105px;
        padding: 0;
        border:0;
        margin-left: 3px;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        margin-bottom: 5px;
    }

    .vitamines-menu-cont span {
        color: #30474f;
        display: block;
        font-size: 25px;
        font-weight: 100;
        margin-bottom: 14px;
    }

    .dena-btn {
        font-size: 16px;
    }

    .dena-btn-white .dena-btn-icon {
        background: url(images/btn-basket-icon2.png) no-repeat;
        width: 39px;
        top: 4px;
    }

    .jg-tabs-head li {
        float: left;
        margin-right: 1px;
        width: 100px;
        text-align: center;
        position: relative;
    }

    .prod-left-img {
        float: left;
        padding-left: 50px;
        max-width: 100%;
    }

    /* Important product buy now buttos part */

    .prod-buy-info span.jg-counter-price-container {
        font-size: 30px;
        position: relative;
        float: left;
        margin-top: 19px;
        margin-right: 10px;
    }

    .jg-counter-container .jg-counter-dec-button, .jg-counter-container .jg-counter-inc-button {
        position: absolute;
        width: 20px;
        height: 19px;
        font-size: 31px;
        /* cursor: pointer; */
        text-align: center;
        color: #ffffff;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: 400;
    }

    .jg-counter-inc-button {
        top: 27px;
    }

    .jg-counter-container input {
        overflow: hidden;
        padding: 5px 10px 5px 10px;
        position: relative;
        margin-left: 0;
    }

    .prod-buy-info button {
        color: #30474f;
        position: relative;
        /*font-size: 14px;*/
        /*padding: 10px 15px 4px 60px;*/
        margin-left: 10px;
    }

}


@media all and (max-width: 1024px) and (min-width: 761px) {

    .head-prod-name {
        display: block;
        text-transform: capitalize;
        font-size: 30px;
        color: #fff;
        text-decoration: none;
        margin-top: 35px;
    }

    .head-prod-name > sup {
        vertical-align: super;
        font-size: 25px;
    }

    .head-prod {
        width: 91%;
        /* height: 314px; */
        margin: 0 auto;
        padding: 40px 0 0 0;
    }

    .head-prod-cont {
        position: relative;
        overflow: hidden;
    }

    .head-prod-cont > span {
        margin-top: 30px;
        display: block;
        font-size: 21px;
        font-weight: 300;
        color: #fff;
        text-transform: uppercase;
        line-height: 1.5;
    }

    .head-prod > img {
        float: right;
        /* width: 100%; */
        /* width: 266px; */
        max-width: 100%;
        margin-left: 50px;
        margin-top: 20px;
    }


}


@media (max-width: 760px) {
    #right-col2 {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        width: auto;
        background-color: #30474f;
        z-index: 1;
        overflow-y: auto;
        display:none
    }

    .hidden-right-col {
        /*overflow: hidden;*/
    }

    .hidden-right-col #right-col2 {
        display: block;
    }

    #main {
        float: none;
        width: auto;
        margin-right: 0;
    }

    .head-prod > a.product-link {
        float: right;
        /*width:100%;*/
        /*   width: 266px;*/
        max-width: 100%;
        margin-left: 0;
        /*margin-top: 20px;*/
    }

    .feedback-form {
        max-width: 300px;
        width: 100%;
        float: none;
        margin: 0 auto;
    }

    .contacts-menu-head {
        text-transform: uppercase;
        display: block;
        padding: 30px 10px 30px 10px;
        margin-top: 95px;
    }

    .contacts-site-icon {
        text-align: center;
        margin-bottom: 20px;
    }

    .contacts-menu {
        max-width: 322px;
        width: auto;
        float: none;
        margin: 0 auto;
        padding: 0 15px 0 15px;
    }

    #search-form input {
        width: 90%;
        height: 30px;
        margin: 20px;
        padding-left: 32px;
        outline: none;
    }

    #main-content {
        border: 1px solid #ebebeb;
        margin: 60px auto 0;
        background: #ffffff center center;
        background-size: cover;
        min-height: 550px;
        padding: 25px 25px 30px;
    }

    .dena-input {
        width: 96%;
        height: 28px;
        padding-left: 10px;
        margin-bottom: 4px;
        color: #18282e;
        font-size: 14px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0;
        text-transform: uppercase;
    }

    .vitamines-menu {
        padding: 10px 0 10px 0;
        width: 100%;
        margin: 0 auto;
    }
    .feedback-button {
        width: 100%;
    }

    .jg-tabs-head i {
        display: none;
    }

    #prod-container .slider-arrow-left, #prod-container .slider-arrow-right {
        display: none;
    }

    .head-prod-cont {
        position: relative;
        overflow: hidden;
        width: calc(100% - 160px);
        min-width: 190px;
        padding:35px 0 0 0;
    }

    .capsul {
        float: left;
        width: 160px;
    }

    .product-header-image {
        width: 100%;
    }

    #prod-container {
        position: relative;
        padding: 30px 0;
        max-width: 1200px;
        margin: 20px auto;
        background: #fff;
        border: 0;
    }

    .page-main-h1 {
        font-size: 20px;
        padding: 10px 50px;
        max-width: 1200px;
        margin: 0 auto;
        background: #fff;
        border-left: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        text-transform: uppercase;
    }

    .page-main-h1-main {
        font-size: 20px;
        padding: 10px 50px;
        max-width: 1200px;
        margin: 0 auto;
        background: #fff;
        text-transform: uppercase;
    }

}

@media (max-width: 401px) {
    .head-prod-cont > span {
        display: none;
    }

    .head-prod-cont {
        position: relative;
        overflow: hidden;
        width: calc(100% - 120px);
        min-width: 190px;
        padding:0 0 0 0;
    }

    .capsul {
        float: left;
        width: 120px;
    }

}

@media all and (max-width: 760px) and (min-width: 341px) {
    #header-slider-container .item {
        height: 350px;
        background-position: bottom center;
        background-size: cover;
    }
}

@media all and (max-width: 350px) {
    .header-logo {
        padding: 20px;
        float: left;
        margin-top: 35px;
    }
}