/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1.5;
    cursor: default;
}

ol, ul {
    list-style: none;
}

blockquote:before, blockquote:after, blockquote, q {
    quotes: none;
}

q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*site styles*/
html {
    min-height: 100%;
}

body {
    position: relative;
    min-height: 100%;
}

p, .advantages-left-cont, .contentTextMain ul, .contentTextMain ol, #main-content > div ol, #main-content > div ul, .advantages h3, .advantages-head h4,
.languages-box span, select, #search-form input, .contacts-menu a, .dena-input, .dena-head-menu a, .footer-cont > span, .feedback-button,
.jg-tabs-body td {
    font-family: 'Open Sans', sans-serif;
}

button {
    cursor: pointer;
}

#content {
    position: relative;
    width: 100%;
    float: left;
    margin: 0;
}

#right-col2 {
    position: absolute;
    top: 92px;
    right: 0;
    bottom: 0;
    width: 260px;
    background-color: #30474f;
    z-index: 1;
    overflow-y: auto;
}

.hidden-right-col #right-col2 {
    display: none;
}

#right-col-hidden {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    background-color: #30474f;
}

#right-col-hidden:hover {
    background-color: #0c4c4f;
    cursor: pointer;
}

.hidden-right-col #right-col-hidden {
    display: block;
}

.right-col-head {
    text-align: right;
    position: relative;
    padding: 13px;
    border-bottom: 1px solid #1f3137;
}

#hide-right-col {
    padding: 4px 7px 4px 7px;
    position: absolute;
    font-size: inherit;
    top: 29px;
    right: 20px;
    z-index: 2;
}

.right-col-head > span {
    color: #ffffff;
    font-size: 16px;
    display: inline;
    margin-right: 45px;
}

#right-col > form {
    text-align: center;
    border-bottom: 1px solid #1f3137;
    position: relative;
}

#right-col > form > img {
    position: absolute;
    left: 30px;
    top: 25px;
}

#search-form input {
    width: 80%;
    height: 30px;
    margin: 20px;
    padding-left: 32px;
    outline: none;
}

.right-col-search {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: #30474f;
    border: 0;
}

#site-nav .ui-state-default:first-child {
    border-top: 1px solid #4d6d78;
}

#site-nav .ui-state-default {
    border: none;
    background: none;
    border-radius: 0;
    padding: 17px 22px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #4d6d78;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(25, 42, 48, 1);
    -moz-box-shadow: inset 0 0 6px 0 rgba(25, 42, 48, 1);
    box-shadow: inset 0 0 6px 0 rgba(25, 42, 48, 1);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

#site-nav .ui-state-default:hover {
    background: #1d3037;
}

#site-nav .ui-accordion-header-active {
    border-bottom: 1px solid #4d6d78;
}

#site-nav .ui-accordion-header-icon {
    right: 18px;
    top: 22px;
    left: auto;
    background-image: url("images/nav-icon-down.png");
    background-position: inherit;
    width: 25px;
    height: 25px;
}

#site-nav .ui-accordion-header-active .ui-accordion-header-icon {
    -ms-transform: rotate(180deg);
    background-image: url(images/nav-icon-down.png);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#site-nav .ui-accordion-header-active {
    background: #1d3037;
}

#site-nav .ui-accordion {
    padding-left: 0;
}

#site-nav .ui-accordion-header {
    margin-top: 0;
}

#site-nav .ui-widget-content {
    background: none;
    border: none;
}

#site-nav .ui-accordion-content {
    padding: 0;
    color: #b1eaff;
}

#site-nav > h3 {
    position: relative;
}

#site-nav li {
    border-bottom: 1px solid #4d6d78;
}

#site-nav a {
    display: block;
    color: #b1eaff;
    font-size: 16px;
    text-decoration: none;
    padding: 13px 22px;
    background-color: #273c43;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(25, 42, 48, 1);
    -moz-box-shadow: inset 0 0 6px 0 rgba(25, 42, 48, 1);
    box-shadow: inset 0 0 6px 0 rgba(25, 42, 48, 1);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

#site-nav a:hover {
    background: #1d3037;
}

.nav-menu {
    -webkit-box-shadow: inset 0 0 2px 0 rgba(25, 42, 48, 1);
    -moz-box-shadow: inset 0 0 2px 0 rgba(25, 42, 48, 1);
    box-shadow: inset 0 0 2px 0 rgba(25, 42, 48, 1);
}

.nav-links > a {
    display: block;
    color: #ffffff;
    padding: 17px 22px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid #4d6d78;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(25, 42, 48, 1);
    -moz-box-shadow: inset 0 0 6px 0 rgba(25, 42, 48, 1);
    box-shadow: inset 0 0 6px 0 rgba(25, 42, 48, 1);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.nav-links > a:hover {
    background: #1d3037;
}

.signin-form-cont {
    padding-top: 22px;
    padding-left: 15px;
    padding-right: 10px;
    border-bottom: 1px solid #1f3137;
    border-top: 1px solid #1f3137;
}

.signin-form-cont > div {
    font-size: 21px;
    color: #1d3037;
    margin-bottom: 11px;
}

.signin-form-cont input {
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    color: #30474f;
    border: 0;
    width: 174px;
    margin-bottom: 5px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 11px;
}

.signin-form-cont form {
    width: 185px;
}

.signin-buttons {
    margin-top: 11px;
    overflow: hidden;
    margin-bottom: 21px;
}

.signin-buttons button {
    float: right;
    padding: 6px 18px;
    font-size: 11px;
    text-transform: uppercase;
}

.signin-buttons a {
    display: block;
    color: #ffffff;
    font-size: 10px;
    line-height: 1.4;
}

.languages-box {
    padding-top: 14px;
    padding-right: 14px;
}

.languages-box select {
    text-align: right;
    float: right;
    width: 120px;
    height: 30px;
    border-radius: 30px;
    color: #30474f;
    border: 0;
    padding-left: 18px;
    margin-left: 8px;
}

.languages-box span {
    margin-top: 6px;
    padding-left: 96px;
    font-size: 12px;
    color: #ffffff;
    display: inline-block;
}

#main {
    float: none;
    width: auto;
    margin-right: 260px;
}

#main-content {
    margin: 150px auto 0;
   /* background: #ffffff center center;*/
    /*background-size: cover;*/
    /* min-height: 550px; */
    /* padding: 30px 50px 50px; */
    /* overflow: hidden; */
}

.hidden-right-col #main-content {
}

.hidden-right-col #main {
    margin-right: 0 !important;
}

header#site-header {
    position: relative;
}

.head-row {
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 14px;
}

.head-row a {
    display: block;
}

#header-slider-container {
    position: relative;
    width: 100%;
    /*height: 450px;*/
    overflow: hidden;
}

#header-slider-container .item {
    height: 500px;
    background-position: bottom center;
    background-size: cover;
}

.head-prod {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0 0 0;
    max-width: 1200px;
}

.head-slider {
    position: relative;
    width: 815px;
    height: 369px;
    margin: 0 auto;
}

.slider-cont {
    height: 333px;
}

.head-prod > a.product-link {
    max-width: 100%;
    margin-left: 50px;
}

.capsul {
    float: left;
    width: 220px;
}

.head-prod-cont {
    float: left;
    width: calc(100% - 250px);
    position: relative;
   /* height: 335px;*/
    overflow: hidden;
    padding: 65px 0 0 30px;
}

.head-prod-name {
    display: block;
    text-transform: capitalize;
    font-size: 60px;
    color: #fff;
    text-decoration: none;
}

.head-prod-name > sup {
    vertical-align: super;
    font-size: 30px;
}

.head-prod-cont > span {
   /* margin-top: 30px;*/
    display: block;
    font-size: 33px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.5;
}

.head-prod-cont > p {
    /*font-size: 10px;*/
    margin-top: 25px;
    color: #ffffff;
    margin-bottom: 63px;
}

.head-prod-btns {
    float: left;
    margin-top: 20px;
}

.head-prod-btns form {
    display: inline-block;
}

.head-prod-btns a {
    display: inline-block;
    padding-left: 25px;
    position: relative;
    top: 0;
    margin-left: 2px;
}

.head-prod-btns a.show-more {
    padding-left: 15px;
    position: relative;
}

.head-prod-btns button {
    position: relative;
}

.dena-btn-icon {
    background: url("images/btn-basket-icon.png") no-repeat;
    width: 24px;
    height: 27px;
    left: 13px;
}

.dena-btn > i {
    position: absolute;
    top: 15px;
    padding-right: 8px;
    border-right: 1px solid #bcbcbc;
}

.dena-btn {
    line-height: 1.6;
    display: inline-block;
    padding: 12px 17px 10px 56px;
    color: #30474f;
    font-size: 20px;
    border-radius: 7px;
    border: 0;
    text-decoration: none;
}

.dena-btn:focus {
    outline: none;
}

.dena-btn:active {
    background: transparent;
}

.head-prod-btns .dena-btn:active {
    border: 1px solid #fff;
}

.dena-btn-white {
    padding: 5px 25px 5px 85px;
    font-size: 20px;
    background: #ffffff;
    border: 1px solid transparent;
}

.dena-btn-white .dena-btn-icon {
    background: url(images/btn-basket-icon2.png) no-repeat;
    width: 40px;
    top: 9px;
}

.dena-btn-alpha {
    background: rgba(255, 255, 255, 0.1);
}

.dena-btn-blue {
    background: #b1eaff;
    border-bottom: 3px solid #7ad9fc;
}

.head-slider > img {
    right: 65px;
    margin-top: 122px;
}

.head-slider-paging {
    margin: 46px auto 0;
    text-align: center;
}

.vitamines-menu {
    padding: 50px 0 50px 0;
    width: 100%;
    margin: 0 auto;
}


.vitamines-menu-main {
    margin: 0 auto;
    text-align: center;
}

.vitamines-menu-head {
    text-align: center;
    margin-bottom: 35px;
    display: block;
}

.vitamines-menu-head > h3 {
    color: #30474f;
    font-size: 23px;
    display: inline-block;
    vertical-align: 50%;
}

.vitamines-menu-head img {
    margin-right: 13px;
}

.vitamines-menu-cont {
    height: 100%;
    margin: 0 auto;
    display: block;
}

.vitamines-menu-cont p {
    text-align: center;
    font-size: 15px;
}

.vitamines-menu-cont li {
    width: 155px;
    height: 535px;
    padding: 30px;
    border: 1px solid #ebebeb;
    margin-left: 5px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-bottom: 5px;
}

.vitamines-menu-cont-2 li {
    width: 217px;
    height: 240px;
    padding: 0;
    border:0;
    margin-left: 3px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-bottom: 5px;
}

.vitamines-menu-cont a, .vitamines-menu-cont-2 a {
    color: #30474f;
    display: block;
    text-decoration: none;
}

.vitamines-product-main {
    margin-bottom: 32px;
    color: #30474f;
    font-size: 25px;
}

.vitamines-menu-cont > ul {
    overflow: hidden;
}

.vitamines-product-main > sup {
    color: #30474f;
    vertical-align: super;
}

.vitamines-menu-cont span {
    color: #30474f;
    display: block;
    font-size: 45px;
    font-weight: 100;
    margin-bottom: 14px;
}

.vitamines-menu-cont img {
    margin-bottom: 10px;
    width: 120px;
}

.vitamines-menu-cont li > .vitamines-btn.dena-btn.dena-btn-blue {
    padding: 9px 8px 7px 10px;
    font-size: 14px;
    color: #30474f;
    display: inline;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.vitamines-menu-cont .vitamines-btn + p {
    color: #000000;
    font-size: 14px;
}

.vitamines-btn {
    margin-bottom: 13px;
    padding: 9px 12px;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    top: 0;
}

.vitamines-btn-2 {
    margin-bottom: 13px;
    padding: 9px 12px;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    top: 0;
}

.vitamines-btn:active {
    margin-bottom: 16px;
}

#middle-line .item {
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    height: 113px;
}

.nav-section {
    /*padding-top: 121px;*/
}

.nav-section > table {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.nav-section tr {
    width: 25%;
}

.first-tr-icon > td {
    /*vertical-align: top;*/
    padding-top: 45px;
    padding-bottom: 25px;
}

.first-tr-main > td {
    width: 25%;
    padding: 0 26px 26px 30px
}

.first-tr-main > td > span {
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
}

.nav-section a {
    font-size: 12px;
    /* padding: 15px 4px;*/
    display: block;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.tr-menu-style > td {
}

footer {
    position: relative;
    z-index: 2;
}

.contact-section {
    /*padding-bottom: 24px;
    padding-top: 65px;*/
    text-align: center;
    min-height: 485px;
    background: #30474f url("images/contact-section-head.png") no-repeat bottom center;
    background-size: contain;
}

.contacts-menu-head {
    display: inline-block;
    margin-top: 95px;
    overflow: hidden;
}

.contacts-menu {
    width: 370px;
    float: left;
}

.contacts-icon {
    text-align: left;
    margin-bottom: 40px;
}

.contacts-icon img {
    margin-right: 8px;
}

.contacts-icon > span {
    font-size: 24px;
    color: #ffffff;
    vertical-align: super;
}

.contacts-menu > ul {
    margin-bottom: 77px;
}

.contacts-menu > ul > li {
    text-align: left;
}

.contacts-menu a {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    word-break: break-all;
}

.contacts-site-icon {
    text-align: left;
}

.feedback-form {
    width: 300px;
    float: right;
}

.feedback-form-head {
    text-align: left;
    margin-bottom: 40px;
}

.feedback-form-head > img {
    margin-right: 8px;
}

.feedback-form-head > span {
    font-size: 24px;
    color: #ffffff;
    vertical-align: super;
}

.feedback-form > form {
    text-align: left;
}

.dena-input {
    width: 280px;
    height: 28px;
    padding-left: 10px;
    margin-bottom: 4px;
    color: #18282e;
    font-size: 14px;
    border-radius: 5px;
    border: 0;
    /*text-transform: uppercase;*/
}

.feedback-form textarea {
    height: 95px;
    margin-bottom: 1px;
}

.feedback-button {
    width: 290px;
    color: #18282e;
    font-size: 14px;
    padding: 5px 5px 0 5px;
}

.feedback-button:active {
    background: #96cde2;
}

.dena-head-menu {
    padding: 25px 10px;
    background-color: #283b42;
    text-align: center;
}

.dena-head-menu > ul {
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
}

.dena-head-menu > ul > li {
    margin: 0 25px;
    display: inline-block;

}

.dena-head-menu > ul > li:last-child {
    margin-right: 0;

}

.dena-head-menu a {
    font-size: 14px;
    color: #ffffff;
}

.dena-footer {
    width: auto;
    padding: 0 10px 30px 10px;
    background-color: #18282a;
    text-align: center;
}

.dena-footer-cont {
}

.footer-logo {
   /* margin-bottom: 38px;*/
}

.footer-cont > span {
    display: inherit;
    color: #99a9af;
    line-height: 1.2;
    font-size: 14px;
    text-transform: uppercase;
}

/* product page */
#header-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 770px;
    z-index: -1;
}

#header-back .head-bg {
    height: 100%;
    background-position: center center;
    background-size: cover;
}

#prod-container {
    position: relative;
    padding: 30px 50px;
    max-width: 1200px;
    margin: 20px auto;
    background: #fff;
    border: 1px solid #ebebeb;
}

#prod-container .slider-arrow-left, #prod-container .slider-arrow-right {
    position: absolute;
    top: 200px;
}

#prod-container .slider-arrow-left {
    left: 30px;
    border-radius: 0;
    text-decoration: none;
    color: #4f7582;
    font-size: 40px;
}

#prod-container .slider-arrow-right {
    right: 30px;
    border-radius: 0;
    text-decoration: none;
    color: #4f7582;
    font-size: 40px;
}

.prod-head-cont {
    /*width: 629px;
    margin: 0 auto;*/
    overflow: hidden;
}

.prod-left-img {
    float: left;
    padding-left: 50px;
    max-width: calc(100% - 300px);
}

.prod-left-img sup {
    vertical-align: super;
    font-size: 30px;
}

.prod-right-cont {
    float: right;
}

.prod-left-img h1 {
    color: #30474f;
    margin-bottom: 5px;
    font-size: 50px;
}

h2 {
    font-size: 24px;
    color: #30474f;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 300;
}

.prod-left-img ul {
    padding: 3px 0 15px 30px !important;
}

.prod-left-img ul> li {
    font-size: 16px;
}

.prod-left-img p {
    /*font-size: 10px;*/
    color: #30474f;
    margin-bottom: 20px;
}

.prod-right-cont sup {
    vertical-align: super;
    font-size: 30px;
}

.prod-right-cont h4 {
    font-size: 20px;
    color: #30474f;
    line-height: 1.5;
    margin-bottom: 21px;
    text-transform: uppercase;
    font-weight: 300;
}

.prod-right-cont p {
    /*font-size: 10px;*/
    color: #30474f;
    margin-bottom: 20px;
}

.prod-buy-info {
    margin: -25px 0 15px 0;
}

.prod-buy-info span {
    font-size: 45px;
    color: #30474f;
    /*margin-right: 27px;*/
    font-weight: 300;
    line-height: 1.76;
}

.prod-buy-info button {
    color: #30474f;
    position: relative;
    /*font-size: 14px;*/
    padding: 4px 15px 4px 15px;
    margin-left: 10px;
}

.prod-buy-info i {
    top: 7px;
    position: absolute;
    background-position-y: 4px;
    border-right: 1px solid #3d5760;
    height: 27px;
    width: 31px;
    padding: 0;
}

.soc-shares {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 10px 0;
    line-height: .9;
}

.soc-shares span {
    font-size: 12px;
    color: #6b6b6b;
    margin-right: 7px;
    vertical-align: 40%;
}

#pInfoTabs {
    padding-top: 38px;
}

/*advantages*/
.advantages-cont-right .advantages-head {
    float: right;
    text-align: right;
}

.advantages-cont-right .advantages-left-cont {
    float: right;
}

.advantages .advantages-cont-right ul {
    float: right;
    /*width: 428px;*/
    text-align: left;
}

.advantages {
    padding-top: 30px;
}

.advantages-head {
    width: 560px;
}

h3 {
    color: #30474f;
    font-size: 20px;
    margin-bottom: 0;
}

.advantages-head h4 {
    color: #000;
    font-size: 50px;
    margin-bottom: 15px;
    line-height: 1;
    font-weight: 300;
}

.advantages-left-cont {
    overflow: hidden;
    display: inline;
}

.advantages-left-cont p {
    width: 560px;
    float: left;
    text-align: justify;
    color: #434444;
    /*margin-right: 32px;*/
}

.advantages-right-cont {
    float: right;
    /*margin-left:50px;*/
}

.advantages-cont-right .advantages-right-cont {
    float: left;
    /*margin: 13px;*/
}

.advantages main {
    margin-bottom: 19px;
}

.advantages-cont ul {
    overflow: hidden;
    clear: both;
    float: left;
    margin-top: 19px;
    margin-bottom: 28px;
    list-style-type: none !important;
    padding: 0 !important;
}

.advantages-cont {
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
    padding-top: 20px;
}

.advantages-cont:last-child {
    border: 0;
}

.advantages-cont li {
    float: left;
    margin: 0 12px 0 0;
}

.advantages-cont.advantages-cont-right li {
    float: left;
    margin: 0 0 0 12px;
}

.advantages-cont img {
    /*margin-right: 6px;*/
}

.advantages-cont span {
    color: #000000;
    font-size: 16px;
    display: inline-block;
    vertical-align: 75%;
    text-transform: uppercase;
    margin-left: 5px;
}

/* pages */
.page-main-image-cont {
    float: left;
    /*max-width: 100px;*/
    margin-top: 20px;
    padding-left: 20px;
    /*padding-right: 44px;*/
}

.page-main-image {
    width: 100%;
}

.page-main-ul {
    clear: both;
    text-align: center !important;
    overflow: hidden;
    border-top: 1px solid #EBEBEB;
}

.page-main-ul li {
    display: inline-block;
    padding: 30px;
    font-size: 25px;
}

.page-main-ul li a {
    color: #30474f;
}

.page-main-h1 {
    font-size: 40px;
    padding: 10px 50px;
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    text-transform: uppercase;
}

.page-main-h1-main {
    font-size: 33px;
    padding: 10px 50px;
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    text-transform: uppercase;
    font-weight: 300;
}

.page-content-cont {
    text-align: justify;
    background: #fff;
    padding: 30px 50px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #ebebeb;
    min-height: 300px;
}

.page-content-cont-inner {
    margin:0 auto;
    max-width: 1200px;
}

.jg-counter-cont {
    position: relative;
    padding: 0 35px;
}

.jg-counter-incdec {
    position: absolute;
    left: 0;
    top: 0;
    right: 0
}

.jg-counter-incdec button {
    position: absolute;
    width: 35px;
    height: 17px;
    top: 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

.jg-counter-incdec button {
    margin: 0;
    top: 0
}

.jg-counter-incdec button.jg-counter-dec {
    left: 0;
}

.jg-counter-incdec button.jg-counter-inc {
    right: 0;
}

.jg-counter-incdec button:hover {
    cursor: pointer;
    background-color: #3CAA3C;
}

.jg-counter-incdec button:active {
    background-color: #FF0000;
}

.jg-counter-incdec button:disabled {
    background-color: #999;
    cursor: default;
}

/*.jg-counter-input {width: 30px; height: 30px; padding: 3px; border: 1px; margin: 2px; text-align: center; font-size: 15px;}*/
div#footer-links-cont {
    text-align: center;
}

ul#footer-links {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

ul#footer-links, #footer-links ul {
    padding: 0;
    overflow: hidden;
    list-style: none;
}

ul#footer-links > li {
    float: left;
    margin: 0 5px;
}

ul#footer-links > li > span {
    font-weight: bold;
}

#footer-links ul li.footer-active-li {
    font-weight: bold;
}

#footer-links ul {
    margin-left: 10px;
}

.affiliates-history-table {
    width: 100%;
    border-collapse: collapse;
}

.affiliates-history-table td {
    text-align: center;
    border: 1px solid black;
}

.materials-table {
    width: 100%;
    border-collapse: collapse;
}

.material-head-row td {
    text-align: center;
    border: 1px solid black;
}

.material-body-row {
    border: 0;
}

.material-body-content {
}

.analytic-details {
    cursor: pointer;
    float: right;
    padding: 10px;
    background: #ccc;
}

.loading {
    position: relative;
}

.loading::after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: '';
    background-size: contain;
    background: #ffffff url("/images/loader.gif") no-repeat center;
    opacity: 0.5;
}

.material-mail .resp-cont {
    float: left;
    padding: 1px;
}

.material-mail .resp-cont.ok {
    background-color: #70d250;
}

.material-mail .resp-cont.no {
    background-color: #cd0a0a;
    color: #ffffff;
}

.material-mail button {
    float: left;
}

.material-mail button.sending span {
    opacity: 0;
}

.material-mail button.sending {
    background-size: contain;
    background: url("/images/loader.gif") no-repeat center;
}

.marketing-mail a {
    display: block;
}

.marketing-status {
    margin-bottom: 20px;
    padding-left: 10px;
    border-bottom: 1px inset #ccc;
}

.marketing-pic img {
    max-width: 100%;
}

.marketing-banner .banner-cont {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.marketing-banner .banner-iframe {
    float: left;
    overflow: auto;
    width: 70%;
    height: 100%;
}

.marketing-banner .banner-code {
    float: right;
    width: 30%;
    height: 100%;
}

.marketing-banner .banner-code label {
    display: block;
    background-color: #eeeeee;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

.marketing-banner .banner-code input {
    display: none;
}

.marketing-banner .banner-code input:checked + textarea {
    display: block;
}

.marketing-banner .banner-code textarea {
    display: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.marketing-share {
    overflow: hidden;
    position: relative;
}

.marketing-share img {
    float: left;
    margin: 5px;
}

.marketing-share h3, p {
    margin: 0;
}

.marketing-share img {
    float: left;
    margin: 5px;
}

.marketing-share .share-buttons span {
    cursor: pointer;
}

.marketing-share .share-buttons span {
    cursor: pointer;
}

.marketing-share .share-buttons {
}

#marketing-container {
    position: relative;
}

.marketing-loader {
    position: absolute;
    left: 50%;
    top: 50%;
}

.curtain {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    display: none;
}

.load .curtain {
    display: block;
}

/*** jg-pages ***/
.jg-pages-list {
    overflow: hidden;
    list-style: none;
}

.jg-page {
    padding: 10px 10px;
    background-color: #a1a1a1;
    cursor: pointer;
    float: left;
}

.jg-page.current {
    background-color: red;
}
/******/

.marketing-block {
    border-bottom: 1px solid #000000;
}

.marketing-block-head {
    background-color: #ddd;
}

.marketing-block-body label {
    display: block;
}

.head-menu {
    margin: 0;
    background-color: #ddd;
}

.head-menu ul {
    overflow: hidden;
    padding: 0;
    list-style: none;
}

.head-menu li {
    float: left;
}

.head-menu li + li {
    border-left: 1px solid #000;
}

.head-menu li a {
    display: block;
    padding: 9px 30px;
    font-size: 16px;
}

/*** jg-counter ***/
.jg-counter-container {
    position: relative;
}

.jg-counter-container input {
    width: 45px;
    height: 25px;
    font-size: 20px;
    padding: 10px;
    margin-left: 140px;
    border: 1px solid #cecece;
    border-radius: 7px;
}

.jg-counter-container .jg-counter-dec-button, .jg-counter-container .jg-counter-inc-button {
    position: absolute;
    width: 23px;
    height: 23px;
    font-size: 31px;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 400;

}

.jg-counter-inc-button {
    right: 1px;
    top: 23px;
    background-color: #b1eaff;
    border-radius: 5px 5px 0 0;
    line-height: 0.6 !important;
}

.jg-counter-dec-button {
    right: 1px;
    top: 45px;
    border-radius: 0 0 5px 5px;
    background-color: #7ad9fc;
    line-height: 0.4 !important;
}

.jg-counter-inc-button:hover, .jg-counter-dec-button:hover {
    opacity: 1;
}

.jg-counter-price-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 5px;
}
/******/

/***   jg-popup */
.jg-popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2147483647;
}

.jg-popup-background {
    width: 100%;
    height: 100%;
    background-color: #aabbcc;
    opacity: 0.7;
    z-index: 1;
}

.jg-popup-close-button {
    z-index: 2;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
    height: 64px;
    background-image: url("ext/icons/jg-popup-close.png");
    background-size: cover;
}

.jg-popup-close-button:hover {
    opacity: 0.8;
}

.jg-popup-box {
    z-index: 2;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 10%;
    bottom: 10%;
}
/* jg-popup   ***/

/***   jg-tabs */
.jg-tabs-container {
    border-radius: 5px;
}

.jg-tabs-head {
    display: block;
    margin: 0;
    padding: 0 !important;
    overflow: hidden;
    list-style: none !important;
}

.jg-tabs-head li {
    float: left;
    margin-right: 1px;
    min-width: 140px;
    text-align: center;
    position: relative;
    margin-bottom: 1px;
}

.jg-tabs-head li a {
    display: block;
    background-color: #247897;
    font-size: 15px;
    border-bottom: none;
    border-radius: 7px 7px 0 0;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 8px;
    cursor: pointer;
    text-transform: uppercase;
}

.jg-tabs-head li a:hover {
    background-color: #a1c910;
    color: #000000;
}

.jg-tabs-body {
    border-top: 1px solid #ebebeb;
    margin-top: 0;
    padding-top: 30px;
}

.jg-tabs-body > div {
    width: 100%;
}

.jg-tabs-body table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 10px auto;
    border: 0;
    width: 99% !important;
}

.jg-tabs-body table td {
    border: 1px solid #ccc;
    vertical-align: middle;
    text-align: left;
    margin: 0;
    padding: 10px;
}

.jg-tabs-body table tr:nth-child(odd) td {
    background: #f8f8f8;
}

li.jg-tabs-head-active a {
    background-color: #a1c910;
    color: #1d3037;
}

/*li.jg-tabs-head-active {
    position: static;
}*/
/* jg-tabs   ***/

/***   jg-shopping-cart */
.jg-shopping-cart-products table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #E6E6E6;

}

#cart-products-container {
    padding: 5px;
}

.jg-shopping-cart-products table td {
    text-align: center;
}

.jg-shopping-cart-remove-product {
    background-image: url("ext/icons/jg_remove_product.png");
    background-size: cover;
    display: block;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

/* jg-shopping-cart ***/
#loginTabs,
#infoBox {
    text-align: center;
}

#infoBox a {
    margin: 0 10px;
}

#searchFormContainer {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    width: 300px;
    height: 50px;
}

#languagesListContainer {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

#shopping-cart-container {
    position: relative;
    display: inline;
}

.cart-menu {
    padding: 5px;
    position: absolute;
    background-color: #FFFFFF;
    right: 0;
    width: 300px;
    top: 20px;
    border: 1px double #E6E6E6;
    display: none;
}

#pass_res_init {
    display: none;
}

/*#loginPopup {
    background-color: #808080;
    border: 5px double white;
    border-radius: 5px;
    position: absolute;
    z-index: 999;
    left: 33%;
    right: 33%;
    top: 10%;
}*/
.search-mark {
    background-color: #ff0000;
    color: #ffffff;
}

#fb-login-btn1 {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-image: url(images/facebook/facebook_login_button.png);
    background-size: cover;
}

#fb-login-btn2 {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-image: url(images/facebook/facebook_login_button.png);
    background-size: cover;
}

#twitter-login-btn {
    cursor: pointer;
    display: block;
    width: 80px;
    height: 80px;
    background-image: url(images/twitter/twitter_login.png);
    background-size: contain;
}
/*----------------------------------*/

.scrollable {
    position: relative;
}

.scrollable:focus {
    outline: 0;
}

.scrollable .viewport {
    position: relative;
    overflow: hidden;
}

.scrollable .viewport .overview {
    position: absolute;
}

.scrollable .scroll-bar {
    display: none;
}

.scrollable .scroll-bar.vertical {
    position: absolute;
    right: 0;
    height: 100%;
}

.scrollable .scroll-bar.horizontal {
    position: relative;
    width: 100%;
}

.scrollable .scroll-bar .thumb {
    position: absolute;
}

.scrollable .scroll-bar.vertical .thumb {
    width: 100%;
    min-height: 10px;
}

.scrollable .scroll-bar.horizontal .thumb {
    height: 100%;
    min-width: 10px;
    left: 0;
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Default skin*/
.scrollable.default-skin {
    padding-right: 10px;
    padding-bottom: 6px;
}

.scrollable.default-skin .scroll-bar.vertical {
    width: 6px;
}

.scrollable.default-skin .scroll-bar.horizontal {
    height: 6px;
}

.scrollable.default-skin .scroll-bar .thumb {
    background-color: black;
    opacity: 0.4;
    border-radius: 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.scrollable.default-skin .scroll-bar:hover .thumb {
    opacity: 0.6;
}

/*Gray skin*/
.scrollable.gray-skin {
    padding-right: 17px;
}

.scrollable.gray-skin .scroll-bar {
    border: 1px solid gray;
    background-color: #d3d3d3;
}

.scrollable.gray-skin .scroll-bar .thumb {
    background-color: gray;
}

.scrollable.gray-skin .scroll-bar:hover .thumb {
    background-color: black;
}

.scrollable.gray-skin .scroll-bar.vertical {
    width: 10px;
}

.scrollable.gray-skin .scroll-bar.horizontal {
    height: 10px;
    margin-top: 2px;
}

/*Modern skin*/
.scrollable.modern-skin {
    padding-right: 17px;
}

.scrollable.modern-skin .scroll-bar {
    border: 1px solid gray;
    border-radius: 4px;
    -moz-box-shadow: inset 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 5px #888;
    box-shadow: inset 0 0 5px #888;
}

.scrollable.modern-skin .scroll-bar .thumb {
    background-color: #95aabf;
    border-radius: 4px;
    border: 1px solid #536984;
}

.scrollable.modern-skin .scroll-bar.vertical .thumb {
    width: 8px;
    background: -moz-linear-gradient(left, #95aabf 0%, #547092 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #95aabf), color-stop(100%, #547092));
    background: -webkit-linear-gradient(left, #95aabf 0%, #547092 100%);
    background: -o-linear-gradient(left, #95aabf 0%, #547092 100%);
    background: -ms-linear-gradient(left, #95aabf 0%, #547092 100%);
    background: linear-gradient(to right, #95aabf 0%, #547092 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#95aabf', endColorstr='#547092',GradientType=1 )";
}

.scrollable.modern-skin .scroll-bar.horizontal .thumb {
    height: 8px;
    background-image: linear-gradient(#95aabf, #547092);
    background-image: -o-linear-gradient(#95aabf, #547092);
    background-image: -moz-linear-gradient(#95aabf, #547092);
    background-image: -webkit-linear-gradient(#95aabf, #547092);
    background-image: -ms-linear-gradient(#95aabf, #547092);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#95aabf', endColorstr='#547092',GradientType=0 )";
}

.scrollable.modern-skin .scroll-bar.vertical {
    width: 10px;
}

.scrollable.modern-skin .scroll-bar.horizontal {
    height: 10px;
    margin-top: 2px;
}

/*oscommerce part*/
body {
    background: #fff;
    color: #000;
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

#header {
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #cccccc;
    z-index: 1;
}

#storeLogo {
    float: left;
    margin-top: 5px;
}

#headerShortcuts {
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}

#columnLeft {
    padding-top: 5px;
}

#columnRight {
    padding-top: 5px;
}

.infoBoxContainer {
}

.infoBoxHeading {
    padding: 2px;
    font-size: 11px;
    background-color: #ddd;
}

.infoBoxContents {
    padding: 5px;
    font-size: 11px;
    line-height: 1.5;
}

.contentContainer {
    padding-bottom: 10px;
}

.contentContainer h2 {
    font-size: 16px;
    text-decoration: underline;
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.contentText, .contentText table {
    padding: 5px 0 5px 0;
    font-size: 11px;
    line-height: 1.5;
}

.productListTable {
    padding: 5px;
    font-size: 11px;
    line-height: 1.5;
}

.productListTable tr.alt td {
    background-color: #ecf6fc;
}

.fieldKey {
    font-size: 11px;
    font-weight: bold;
    line-height: 1.5;
    width: 150px;
}

.fieldValue {
    font-size: 11px;
    line-height: 1.5;
}

img {
    border: 0;
}

table, p {
    line-height: 1.5;
}

p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
}

#piGal ul {
    list-style-type: none;
}

#piGal img {
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
}

#piGal .outer {
    margin-left: -30px;
}

.buttonSet {
    clear: both;
}

.buttonAction {
    float: right;
}

.boxText {
    font-size: 10px;
}

.errorBox {
    font-size: 10px;
    background: #ffb3b5;
    font-weight: bold;
}

.stockWarning {
    font-size: 10px;
    color: #cc0033;
}

.productsNotifications {
    background: #f2fff7;
}

.orderEdit {
    font-size: 10px;
    color: #70d250;
    text-decoration: underline;
}

TR.header {
    background: #ffffff;
}

TR.headerNavigation {
    background: #bbc3d3;
}

TD.headerNavigation {

    font-size: 10px;
    background: #bbc3d3;
    color: #ffffff;
    font-weight: bold;
}

A.headerNavigation {
    color: #FFFFFF;
}

A.headerNavigation:hover {
    color: #ffffff;
}

TR.headerError {
    background: #ff0000;
}

TD.headerError {
    font-size: 12px;
    background: #ff0000;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

TR.headerInfo {
    background: #00ff00;
}

TD.headerInfo {
    font-size: 12px;
    background: #00ff00;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

TR.footer {
    background: #bbc3d3;
}

TD.footer {
    font-size: 10px;
    background: #bbc3d3;
    color: #ffffff;
    font-weight: bold;
}

.infoBox {
    background: #b6b7cb;
}

.infoBoxNotice {
    background: #FF8E90;
}

.infoBoxNoticeContents {
    background: #FFE6E6;
    font-size: 10px;
}

TD.infoBoxHeading {
    font-size: 10px;
    font-weight: bold;
    background: #bbc3d3;
    color: #ffffff;
}

TD.infoBox, SPAN.infoBox {
    font-size: 10px;
}

TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd {
    background: #f8f8f9;
}

TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even {
    background: #f8f8f9;
}

TABLE.productListing {
    border: 1px solid #b6b7cb;
    border-spacing: 1px;
}

.productListingHeader {
    table-layout: fixed;
    color: #FFFFFF;
    font-weight: bold;
}

.productListingHeader A:hover {
    color: #FFFFFF;
}

.productListingData {
    table-layout: fixed;
}

A.pageResults {
    color: #0000FF;
}

A.pageResults:hover {
    color: #0000FF;
    background: #FFFF33;
}

TD.pageHeading, DIV.pageHeading {
    font-size: 20px;
    font-weight: bold;
    color: #9a9a9a;
}

TR.subBar {
    background: #f4f7fd;
}

TD.subBar {
    font-size: 10px;
    color: #000000;
}
TD.main, P.main {
    font-size: 11px;
    line-height: 1.5;
}

TD.smallText, SPAN.smallText, P.smallText {
    font-size: 10px;
}

TD.accountCategory {
    font-size: 13px;
    color: #aabbdd;
}

TD.tableHeading {
    font-weight: bold;
}

SPAN.newItemInCart {
    font-size: 10px;
    color: #ff0000;
}

TEXTAREA {
    width: 100%;
    margin: 0;
    resize: none;
}

SPAN.greetUser {
    font-size: 12px;
    color: #f0a480;
    font-weight: bold;
}

TABLE.formArea {
    background: #f1f9fe;
    border: 1px solid #7b9ebd;
}

TD.formAreaTitle {
    font-size: 12px;
    font-weight: bold;
}

SPAN.markProductOutOfStock {
    font-size: 12px;
    color: #c76170;
    font-weight: bold;
}

SPAN.productSpecialPrice {
    color: #ff0000;
}

SPAN.errorText {
    color: #ff0000;
}

.moduleRow {
}

.moduleRowOver {
    background-color: #D7E9F7;
    cursor: hand;
}

.moduleRowSelected {
    background-color: #E9F4FC;
}

.checkoutBarFrom, .checkoutBarTo {
    font-size: 10px;
    color: #8c8c8c;
}

.checkoutBarCurrent {
    font-size: 10px;
    color: #000000;
}

/* message box */
.messageBox {
    font-size: 10px;
}

.messageStackError, .messageStackWarning {
    font-size: 10px;
    background-color: #ffb3b5;
}

.messageStackSuccess {
    font-size: 10px;
    background-color: #99ff00;
}

/* input requirement */
.inputRequirement {
    font-size: 10px;
    color: #ff0000;
}

/* buttons */
.tdbLink a {
}

.tdbLink button {
}

/* account link list */
.accountLinkList {
    list-style-type: none;
    margin: 2px 2px 2px 10px;
    padding: 5px;
}

.accountLinkListEntry {
    float: left;
    margin-right: 5px;
}

#partners-analytic {
    border: 1px solid #000000;
}

#partners-analytic caption {
    background-color: #eee;
}

#partners-analytic th {
    background-color: #eee;
}

#partners-analytic td {
    padding: 7px;
    background-color: #eee;
}

/*.contentTextMain > table { border-collapse: collapse; border-spacing: 0; margin:10px auto; border:0;  }
.contentTextMain > table td { border: 1px solid #ccc; vertical-align:middle; text-align:center; margin:0; padding:2px 5px; }*/
.contentTextMain > p {
    padding: 5px 0;
}

.contentTextMain > p strong {
    font-weight: bold;
    font-size: 15px;
}

.contentTextMain ul {
    padding: 3px 0 10px 30px;
    list-style-image: url(/images/bullet.png);
    text-align: left;
}

.contentTextMain ol {
    padding: 3px 0 10px 30px;
    list-style: decimal;
    text-align: left;
}

#main-content > div ol {
    padding: 3px 0 10px 30px;
    list-style: decimal;
    text-align: left;
}

#main-content > div ul {
    padding: 3px 0 10px 30px;
    list-style-image: url(/images/bullet.png);
    text-align: left;
}

#main-content img {
    max-width:100%;
}

.contentTextMain li {
    padding: 3px;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
}

.advantages ul {
    list-style: none !important;
}

strong {
    font-weight: bold;
}

#reviews td {
    border: 0;
    background: #fff;
}

.unslider {
    overflow: hidden;
}

.clear {
    clear: both;
}

.unslider-arrow.prev {
    background: url(images/slider-arrow-left.png) no-repeat;
    width: 56px;
    height: 56px;
    position: absolute;
    top: 40%;
    left: 20px;
}

.unslider-arrow.next {
    background: url(images/slider-arrow-right.png) no-repeat;
    width: 56px;
    height: 56px;
    position: absolute;
    top: 40%;
    right: 20px;
}

#right-col::-webkit-scrollbar {
    display: none;
}

.unslider-nav {
    position: absolute;
    bottom: 6px;
    text-align: center;
    width: 100%;
}

.left-search-icon {
    font-family: "fontello", "Open Sans", sans-serif;
    position: absolute;
    margin-left: 26px;
    margin-top: 25px;
    font-size: 16px;
    /* Uncomment for 3D effect */
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

/*
 Bootstrap snippet
*/
.row {
    /*margin-right: -15px;
    margin-left: -15px;*/
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    /*min-height: 1px;*/
    /* padding-right: 15px;
     padding-left: 15px;*/
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0;
}

@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    .col-sm-pull-12 {
        right: 100%;
    }

    .col-sm-pull-11 {
        right: 91.66666667%;
    }

    .col-sm-pull-10 {
        right: 83.33333333%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-8 {
        right: 66.66666667%;
    }

    .col-sm-pull-7 {
        right: 58.33333333%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-5 {
        right: 41.66666667%;
    }

    .col-sm-pull-4 {
        right: 33.33333333%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-2 {
        right: 16.66666667%;
    }

    .col-sm-pull-1 {
        right: 8.33333333%;
    }

    .col-sm-pull-0 {
        right: auto;
    }

    .col-sm-push-12 {
        left: 100%;
    }

    .col-sm-push-11 {
        left: 91.66666667%;
    }

    .col-sm-push-10 {
        left: 83.33333333%;
    }

    .col-sm-push-9 {
        left: 75%;
    }

    .col-sm-push-8 {
        left: 66.66666667%;
    }

    .col-sm-push-7 {
        left: 58.33333333%;
    }

    .col-sm-push-6 {
        left: 50%;
    }

    .col-sm-push-5 {
        left: 41.66666667%;
    }

    .col-sm-push-4 {
        left: 33.33333333%;
    }

    .col-sm-push-3 {
        left: 25%;
    }

    .col-sm-push-2 {
        left: 16.66666667%;
    }

    .col-sm-push-1 {
        left: 8.33333333%;
    }

    .col-sm-push-0 {
        left: auto;
    }

    .col-sm-offset-12 {
        margin-left: 100%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-sm-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-pull-12 {
        right: 100%;
    }

    .col-md-pull-11 {
        right: 91.66666667%;
    }

    .col-md-pull-10 {
        right: 83.33333333%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-8 {
        right: 66.66666667%;
    }

    .col-md-pull-7 {
        right: 58.33333333%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-5 {
        right: 41.66666667%;
    }

    .col-md-pull-4 {
        right: 33.33333333%;
    }

    .col-md-pull-3 {
        right: 25%;
    }

    .col-md-pull-2 {
        right: 16.66666667%;
    }

    .col-md-pull-1 {
        right: 8.33333333%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-push-12 {
        left: 100%;
    }

    .col-md-push-11 {
        left: 91.66666667%;
    }

    .col-md-push-10 {
        left: 83.33333333%;
    }

    .col-md-push-9 {
        left: 75%;
    }

    .col-md-push-8 {
        left: 66.66666667%;
    }

    .col-md-push-7 {
        left: 58.33333333%;
    }

    .col-md-push-6 {
        left: 50%;
    }

    .col-md-push-5 {
        left: 41.66666667%;
    }

    .col-md-push-4 {
        left: 33.33333333%;
    }

    .col-md-push-3 {
        left: 25%;
    }

    .col-md-push-2 {
        left: 16.66666667%;
    }

    .col-md-push-1 {
        left: 8.33333333%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-offset-12 {
        margin-left: 100%;
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-md-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-pull-11 {
        right: 91.66666667%;
    }

    .col-lg-pull-10 {
        right: 83.33333333%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-8 {
        right: 66.66666667%;
    }

    .col-lg-pull-7 {
        right: 58.33333333%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-5 {
        right: 41.66666667%;
    }

    .col-lg-pull-4 {
        right: 33.33333333%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-2 {
        right: 16.66666667%;
    }

    .col-lg-pull-1 {
        right: 8.33333333%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-push-12 {
        left: 100%;
    }

    .col-lg-push-11 {
        left: 91.66666667%;
    }

    .col-lg-push-10 {
        left: 83.33333333%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-8 {
        left: 66.66666667%;
    }

    .col-lg-push-7 {
        left: 58.33333333%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-5 {
        left: 41.66666667%;
    }

    .col-lg-push-4 {
        left: 33.33333333%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-2 {
        left: 16.66666667%;
    }

    .col-lg-push-1 {
        left: 8.33333333%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-lg-offset-0 {
        margin-left: 0;
    }
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
    display: table;
    content: " ";
}

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
    clear: both;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

/* End Bootstrap snippet*/

.block-header {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 0;
    min-height: 90px;
}

.block-header-text {
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    min-height: 80px;
    padding: 25px 7px 0 8px;
}

.block-header-text > a {
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 0;
}

.block-header-text-2 {
    text-align: center;
}

.orange-1 {
    background-color: #fe850f;
}

.orange-2 {
    background-color: #fe9c0f;
    border-top: 1px solid #fea320;
    border-bottom: 1px solid #fea320;
}

.orange-3 {
    background-color: #febc0f;
    border-top: 1px solid #fec120;
    border-bottom: 1px solid #fec120;
}

.orange-4 {
    background-color: #ffdd00;
    border-top: 1px solid #ffdf12;
    border-bottom: 1px solid #ffdf12;
}

.orange-5 {
    background-color: #fde646;
    border-top: 1px solid #fde85a;
    border-bottom: 1px solid #fde85a;
}

.blue-1 {
    background-color: #0091c5;
}

.blue-2 {
    background-color: #03a3dd;
    border-top: 1px solid #15a9df;
    border-bottom: 1px solid #15a9df;
}

.blue-3 {
    background-color: #00aae7;
    border-top: 1px solid #12b0e9;
    border-bottom: 1px solid #12b0e9;
}

.blue-4 {
    background-color: #00bcff;
    border-top: 1px solid #12c1ff;
    border-bottom: 1px solid #12c1ff;
}

.blue-5 {
    background-color: #46ceff;
    border-top: 1px solid #53d1ff;
    border-bottom: 1px solid #53d1ff;
}

.green-1 {
    background-color: #73ad05;
}

.green-2 {
    background-color: #7cbc0f;
    border-top: 1px solid #87c11b;
    border-bottom: 1px solid #87c11b;
}

.green-3 {
    background-color: #87cb07;
    border-top: 1px solid #8fcf19;
    border-bottom: 1px solid #8fcf19;
}

.green-4 {
    background-color: #90db03;
    border-top: 1px solid #98de15;
    border-bottom: 1px solid #98de15;
}

.green-5 {
    background-color: #aeec3a;
    border-top: 1px solid #b4ed48;
    border-bottom: 1px solid #b4ed48;
}

.grey-1 {
    background-color: #562f0e;
}

.grey-2 {
    background-color: #6e3a0e;
    border-top: 1px solid #78481f;
    border-bottom: 1px solid #78481f;
}

.grey-3 {
    background-color: #7b410f;
    border-top: 1px solid #844e20;
    border-bottom: 1px solid #844e20;
}

.grey-4 {
    background-color: #8a501d;
    border-top: 1px solid #925c2d;
    border-bottom: 1px solid #925c2d;
}

.grey-5 {
    background-color: #a06532;
    border-top: 1px solid #a77040;
    border-bottom: 1px solid #a77040;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

/* show more css part*/

div.text-container {
    margin: 0 auto;
    width: 75%;
}

.text-content {
    line-height: 1em;
}

.short-text {
    overflow: hidden;
    /* height: 93px;*/
}

.full-text {
    height: auto;
}

h1 {
    font-size: 24px;
}

.show-more {
    padding: 5px 0 10px 0;
    text-align: right;
}

.show-more a {
    text-decoration: none;
    color: #4f7582;
}

.error-message {
    position: absolute;
    padding: 5px 0 0 5px;
}

#submit-error {
    padding: 0 10px 10px 5px;
}

#tdb1 {
    margin-top: 20px;
}

.fieldValue.country > select {
    max-width: 173px;
    width: 100%;
}

.sitemap-ul {
    list-style: none none !important;
}

.sitemap-wrapper {
    padding: 20px 0 0 50px;
    width: 90%;
}

.sitemap-wrapper a {
    text-decoration: none;
    color: #30474f;
    line-height: 1.5;
}

.sitemap-wrapper ul, .sitemap-wrapper li {
    width: 80%;
}

.sitemap-wrapper h2 {
    font-size: 20px;
}

.product-notation {
    font-size: 11px;
    font-weight: normal;
    padding: 15px 0 0 20px;
    text-align: left;
    color: #fff;
}

.component-block {
    width: 185px;
    height:230px;
    border: 1px solid #ebebeb;
    margin-left: 5px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-bottom: 5px;
    padding: 30px;
}

.header-logo {
    padding: 20px;
    float:left;
}

.product-header-image {
    width: 240px;
}

.v-cart-place {
    float: right;
    padding: 25px 30px 20px 0;
    margin: 5px 50px 0 0;
    cursor: pointer;
}

.add-to-cart {
    padding: 5px 25px 5px 25px;
}

.cart-link {
    text-decoration: none;
    color: #30474f;
    font-size: 20px;
}

.cart-link:hover {
    text-decoration: none;
    color: #30474f;
}

.cart-menu-icon {
    background: url(images/btn-basket-icon.png) no-repeat;
    width: 29px;
    background-size: contain;
    margin: 3px 3px 0 0;
    height: 21px;
    float: left;
}