/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*site styles*/

body {
	position: relative;
}

button {
	cursor: pointer;
}

body, .ui-widget, button, input, select, texarea {
	font-family: 'Roboto Condensed', sans-serif;
}

aside#right-col {
	position: absolute;
	right: 0;
	height: 100%;
	width: 210px;
	background-color: #30474f;
}

.hidden-right-col #right-col {
	display: none;
}

aside#right-col-hidden {
	display: none;
	position: absolute;
	right: 0;
	height: 100%;
	width: 50px;
	background-color: #30474f;
}

aside#right-col-hidden:hover {
	background-color: #0c4c4f;
	cursor: pointer;
}

.hidden-right-col #right-col-hidden {
	display: block;
}

.right-col-head {
	text-align: right;
	position: relative;
	padding-top: 10px;
	padding-bottom: 12px;
	border-bottom: 1px solid #1f3137;
}

.right-col-head  .right-col-style {
	padding: 0 0 3px 0;
	position: absolute;
	font-size: inherit;
	top: 4px;
	right: 14px;
	width: 22px;height: 22px;
}

.right-col-head img {
	width: 11px;
	height: 10px;
	position: absolute;
	left: 5px;
	bottom: 4px;
}

.right-col-head > span {
	color: #ffffff;
	font-size: 11px;
	display: inline;
	margin-right: 39px;
}
#right-col > form {
	text-align: center;
	border-bottom: 1px solid #1f3137;
	position: relative;
}

#right-col > form > img {
	position: absolute;
	left: 21px;
	top: 21px;
}

#search-form input {
	width: 182px;
	margin-top: 14px;
	margin-bottom: 14px;
	padding-left: 26px;
	box-sizing: padding-box;
	padding-top: 7px;
	padding-bottom: 7px;
}


.right-col-search {
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	color: #30474f;
	border: 0;
}

#site-nav .ui-state-default {
	border: none;
	background: none;
	border-radius: 0;
	padding-left: 15px;
	color: #ffffff;
	padding-top: 14px;
	padding-bottom: 13px;
	font-size: 12px;
	text-transform: uppercase;
	border-bottom: 1px solid #4d6d78;
}

#site-nav .ui-accordion-header-active {
	border-bottom: 1px solid #4d6d78;
}

#site-nav .ui-accordion-header-icon {
	right: 12px;
	left: auto;
	background-image: url("images/nav-icon-down.png");
	background-position: inherit;
	width: 18px;
	height: 18px;
}

#site-nav .ui-accordion-header-active .ui-accordion-header-icon {
	background-image: url("images/nav-icon-right.png");
}

#site-nav .ui-accordion-header-active {
	background: #1d3037;
}

#site-nav .ui-accordion  {
	padding-left: 0;
}

#site-nav .ui-accordion-header {
	margin-top: 0;
}

#site-nav .ui-widget-content {
	background: none;
	border: none;
}

#site-nav .ui-accordion-content {
	padding: 0;
	color: #b1eaff;
}

#site-nav > h3 {
	position: relative;
}

#site-nav li {
	padding-bottom: 11px;
	padding-top: 11px;
	border-bottom: 1px solid #4d6d78;
	background-color: #273c43;
	-webkit-box-shadow: inset 0 0 4px 0 rgba(25,42,48,1);
	-moz-box-shadow: inset 0 0 4px 0 rgba(25,42,48,1);
	box-shadow: inset 0 0 4px 0 rgba(25,42,48,1);
}

#site-nav a {
	color: #b1eaff;
	font-size: 12px;
	text-decoration: none;
	padding-left: 15px;
}

.nav-menu {
	-webkit-box-shadow: inset 0 0 2px 0 rgba(25,42,48,1);
	-moz-box-shadow: inset 0 0 2px 0 rgba(25,42,48,1);
	box-shadow: inset 0 0 2px 0 rgba(25,42,48,1);
}

.nav-links > a {
	display: block;
	padding-left: 15px;
	color: #ffffff;
	padding-top: 14px;
	padding-bottom: 13px;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px solid #4d6d78;
	-webkit-box-shadow: inset 0 0 2px 0 rgba(25,42,48,1);
	-moz-box-shadow: inset 0 0 2px 0 rgba(25,42,48,1);
	box-shadow: inset 0 0 2px 0 rgba(25,42,48,1);
}

.signin-form-cont {
	padding-top: 22px;
	padding-left: 15px;
	padding-right: 10px;
	border-bottom: 1px solid #1f3137;
	border-top: 1px solid #1f3137;
}

.signin-form-cont > div {
	font-size: 21px;
	color: #1d3037;
	margin-bottom: 11px;
}

.signin-form-cont input {
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	color: #30474f;
	border: 0;
	width: 174px;
	margin-bottom: 5px;
	padding-bottom: 7px;
	padding-top: 7px;
	padding-left: 11px;
}

.signin-form-cont form {
	width: 185px;
}


.signin-buttons {
	margin-top: 11px;
	overflow: hidden;
	margin-bottom: 21px;
}

.signin-buttons button {
	float: right;
	padding: 6px 18px;
	font-size: 11px;
	text-transform: uppercase;
}

.signin-buttons a {
	display: block;
	color: #ffffff;
	font-size: 10px;
	line-height: 1.4;
}

.languages-box {
	padding-top: 14px;
	padding-right: 14px;
}

.languages-box select {
	text-align: right;
	float: right;
	width: 94px;
	padding-bottom: 6px;
	padding-top: 6px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	color: #30474f;
	border: 0;
	padding-left: 18px;
	margin-left: 8px;
}

.languages-box span {
	margin-top: 9px;
	padding-left: 55px;
	font-size: 10px;
	color: #ffffff;
	display: inline-block;
}



#main {
	margin-right: 210px;
}

.hidden-right-col #main {
	margin-right: 50px;
}

header#site-header {
	position: relative;
	height: 539px; /*TODO height 770px*/
}

.head-bg {
	position: absolute;
	background-position: center center;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-khtml-background-size: cover;
	background-size: cover;
}

.head-row {
	position: relative;
	padding: 14px;
}

.head-row a{
	display: block;
}

.head-slider {
	position: relative;
	top: 56px;
	width: 815px;
	height: 369px;
	margin: 0 auto;
}

.slider-cont {
	height: 333px;
}

.slider-arrow-left {
	position: absolute;
	top: 141px;
	background: url("images/slider-arrow-left.png") no-repeat;
	width: 39px;
	height: 39px;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
}

.slider-arrow-right {
	position: absolute;
	background: url("images/slider-arrow-right.png") no-repeat;
	width: 39px;
	height: 39px;
	right: 0;
	top: 141px;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
}

.head-prod {
	width: 699px;
	height: 100%;
	margin: 0 auto;
}


.head-prod > img {
	float: right;
}

.head-prod-cont {
	position: relative;
	width: 510px;
	height: 100%;
}

.head-prod-name {
	display: block;
	text-transform: capitalize;
	
	font-size: 65px;
	color: #fff;
	text-decoration: none;

}

.head-prod-name > sup {
	vertical-align: super;
}

.head-prod-cont > span {
	margin-top: 10px;
	display: block;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
}

.head-prod-cont > p {
	font-size: 10px;
	margin-top: 15px;
	color: #ffffff;
	margin-bottom: 63px;
}

.head-prod-btns {
	position: absolute;
	height: 51px;
	bottom: 0;
}

.head-prod-btns a {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 165px;
}

.dena-btn > i {
	background-image: url("images/btn-basket-icon.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 18px;
	float: left;
	margin-top: 6px;
}

.dena-btn {
	line-height: 1.6;
	display: inline-block;
	padding: 7px 17px 7px 13px;
	color: #30474f;
	
	font-size: 21px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 0;
	text-decoration: none;
}

.dena-btn:focus {
	outline: none;
}

.dena-btn:active {
	border-bottom: 0;
	margin-top: 3px;
}

.dena-btn-white {
	background: #ffffff;
	border-bottom: 3px solid #e1e1e1;
}

.dena-btn-blue {
	background: #b1eaff;
	border-bottom: 3px solid #7ad9fc;
}

.head-slider > img {
	right: 65px;
	margin-top: 122px;
}

.head-slider-paging {
	margin: 46px auto 0;
	text-align: center;
}



.head-slider-paging > li {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0 solid #000000;
	background-color: #dedbdb;
	-webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.53);
	-moz-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.53);
	box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.53);
	margin-right: 7px;
}

.head-prod-current {
	width: 8px;
	height: 8px;
	background-color: #febc0f;
}

.vitamines-menu {
	padding-top: 70px;
	width: 100%;
	height: 600px;
	background: #ffffff;
}

.vitamines-menu-main {
	margin: 0 auto;
	text-align: center;
}

.vitamines-menu-head{
	text-align: center;
	margin-bottom: 35px;
}

.vitamines-menu-head > h3 {
	color: #30474f;
	font-size: 23px;
	display: inline-block;
	vertical-align: 50%;
}

.vitamines-menu-head img {
	margin-right: 13px;
}

.vitamines-menu-cont {
	height: 100%;
	margin: 0 auto;
	display: inline-block;
}

.vitamines-menu-cont li {
	width: 146px;
	height: 423px;
	padding: 23px 21px 24px 28px;
	border: 1px solid #ebebeb;
	margin-right: 4px;
	display: inline;
	float: left;
	text-align: center;
}

.vitamines-menu-cont a {
	color: #30474f;
	display: block;
	text-decoration: none;
}

.vitamines-product-main {
	margin-bottom: 32px;
	color: #30474f;
	font-size: 18px;
}

.vitamines-menu-cont > ul {
	overflow: hidden;
}

.vitamines-product-main > sup {
	color: #30474f;
	vertical-align: super;
}

.vitamines-menu-cont span {
	color: #30474f;
	display: block;
	font-size: 32px;
	
	font-weight: 100;
	margin-bottom: 14px;
}

.vitamines-menu-cont img {
	margin-bottom: 10px;
}

.vitamines-menu-cont li > .vitamines-btn.dena-btn.dena-btn-blue {
	padding: 9px 8px 7px 10px;
	font-size: 14px;
	color: #30474f;
	display: inline;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.vitamines-menu-cont .vitamines-btn + p {
	color: #000000;
	font-size: 9px;
}

.vitamines-btn {
	margin-bottom: 13px;
}

.elgeno-headline {
	background-position: center center;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-khtml-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 113px;
	display: block;
}

.nav-section {
	padding-top: 121px;
}

.nav-section > table {
	margin: 0 auto;
	width: 700px;
	text-align: center;
}

.nav-section tr{
	width: 25%;
}

.first-tr-icon > td {
	vertical-align: top;
	padding-top: 34px;
	padding-bottom: 25px;
}

.first-tr-main > td{
	width: 25%;
	padding: 0 26px 26px 30px
}

.first-tr-main > td > span {
	font-size: 21px;
	
	color: #ffffff;
}

.nav-section a {
	font-size: 14px;
	 /*TODO OSVALD*/
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

.tr-menu-style > td {
	padding: 10px 5px 11px 5px;
}

.contact-section {
	width: 100%;
	padding-bottom: 68px;
	padding-top: 65px;
	text-align: center;
	background: url("images/products/backgrounds/contact-section-head.png") no-repeat;
}


.contakts-menu-head {
	text-transform: uppercase;
	display: inline-block;
	width: 555px;
	overflow: hidden;
}

.contakts-menu {
	width: 231px;
	height: 206px;
	float: left;
}

.contacts-icon {
	text-align: left;
	margin-bottom: 29px;
}

.contacts-icon img {
	width: 32px;
	height: 32px;
	margin-right: 6px;
}

.contacts-icon > span {
	font-size: 23px;
	color: #ffffff;
	
	vertical-align: super;
}

.contakts-menu > ul {
	margin-bottom: 53px;
}

.contakts-menu > ul > li {
	text-align: left;
}

.contakts-menu a{
	color: #ffffff;
	font-size: 10px;
	text-transform: uppercase;
}

.contacts-site-icon {
	text-align: left;
}

.feedback-form {
	width: 203px;
	float: right;
}

.feedback-form-head {
	text-align: left;
	margin-bottom: 30px;
}

.feedback-form-head > img {
	margin-right: 6px;
	width: 32px;
	height: 32px;
}

.feedback-form-head > span {
	font-size: 23px;
	color: #ffffff;
	
	vertical-align: super;
}

.feedback-form > form {
	text-align: left;
}

.dena-input {
	width: 195px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	margin-bottom: 3px;
	color: #18282e;
	font-size: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 3px;
	border-radius: 4px;
	border: 0;
	text-transform: uppercase;
}

.feedback-form > form > textarea {
	width: 193px;
	height: 70px;
}

.feedback-button {
	width: 203px;
	color: #18282e;
	font-size: 10px;
}

.dena-head-menu {
	padding-bottom: 18px;
	width: 100%;
	padding-top: 20px;
	background-color: #283b42;
	text-align: center;
}

.dena-head-menu > ul {
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
}

.dena-head-menu > ul > li {
	margin-right: 35px;
	display: inline-block;

}

.dena-head-menu > ul > li:last-child {
	margin-right: 0;

}

.dena-head-menu a {
	font-size: 10px;
	color: #ffffff;
}

.dena-footer {
	width: 100%;
	height: 185px;
	padding-top: 53px;
	background: #18282a;
	text-align: center;
}

.dena-footer-cont {
	width: 625px;
	display: inline-block;
}

.footer-logo {
	margin-bottom: 38px;
}

.footer-cont > span {
	display: inherit;
	color: #99a9af;
	line-height: 1.2;
	font-size: 10px;
	text-transform: uppercase;
}




/* product page */

#header-back {
	position: absolute;
	top: 0;
	width: 100%;
	height: 539px;
	z-index: -1;
}

#prod-container {
	width: 699px;
	border: 1px solid #ebebeb;
	margin: 12px auto 0;
	padding-top: 35px;
	background: #ffffff center center;
	background-size: cover;
}

.prod-head-cont {
	width: 629px;
	margin: 0 auto;
	overflow: hidden;
}

.prod-left-img img {
	margin: 0 auto;
	float: left;
}

.prod-right-cont {
	float: right;
	width: 441px;
}

.prod-right-cont h2 {
	color: #30474f;
	margin-bottom: 5px;
	font-size: 35px;
}

.prod-right-cont sup {
	vertical-align: super;
}

.prod-right-cont h4 {
	font-size: 14px;
	color: #30474f;
	line-height: 1.3;
	margin-bottom: 21px;
}

.prod-right-cont p {
	font-size: 10px;
	color: #30474f;
	margin-bottom: 20px;
}

.prod-buy-info {
	margin-bottom: 15px;
}

.prod-buy-info span {
	font-size: 20px;
	color: #30474f;
	margin-right: 27px;
}


.prod-buy-info button {
	color: #30474f;
	position: absolute;
	font-size: 14px;
	padding: 5px 10px 5px 42px;
}


.soc-shares {
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	padding-top: 7px;
	padding-bottom: 7px;
}

.soc-shares span {
	font-size: 10px;
	color: #6b6b6b;
	margin-right: 7px;
	vertical-align: 50%;
}

#pInfoTabs {
	padding-top: 38px;
}

.jg-counter-cont  { position:relative; padding: 0 35px;}
.jg-counter-incdec {position: absolute; left: 0; top: 0; right: 0}
.jg-counter-incdec button {position: absolute; width:35px; height:17px; top: 0;
    transition:all 0.2s; -webkit-transition:all 0.2s; -khtml-transition:all 0.2s; -moz-transition:all 0.2s;
}
.jg-counter-incdec button { margin:0; top: 0}
.jg-counter-incdec button.jg-counter-dec { left: 0; }
.jg-counter-incdec button.jg-counter-inc { right: 0; }

.jg-counter-incdec button:hover { cursor:pointer; background-color:#3CAA3C; }
.jg-counter-incdec button:active { background-color:#FF0000; }
.jg-counter-incdec button:disabled { background-color:#999; cursor:default; }

/*.jg-counter-input {width: 30px; height: 30px; padding: 3px; border: 1px; margin: 2px; text-align: center; font-size: 15px;}*/

div#footer-links-cont {
    text-align: center;
}

ul#footer-links {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

ul#footer-links, #footer-links ul {
    padding: 0;
    overflow: hidden;
    list-style: none;
}

ul#footer-links > li {
    float: left;
    margin: 0 5px;
}

ul#footer-links > li > span{
    font-weight: bold;
}

#footer-links ul li.footer-active-li {
    font-weight: bold;
}

#footer-links ul {
    margin-left: 10px;
}

.affiliates-history-table {
    width: 100%;
    border-collapse: collapse;
}

.affiliates-history-table td{
    text-align: center;
    border: 1px solid black;
}

.materials-table {
    width: 100%;
    border-collapse: collapse;
}

.material-head-row td{
    text-align: center;
    border: 1px solid black;
}

.material-body-row {
    border: 0;
}

.material-body-content {

}

.cb {
    clear: both;
}

.analytic-details {
    cursor: pointer;
    float: right;
    padding: 10px;
    background: #ccc;
}

.loading {
    position: relative;
}

.loading::after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: '';
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    background: #ffffff url("/images/loader.gif") no-repeat center;
    opacity: 0.5;
}

.material-mail .resp-cont {
    float: left;
    padding: 1px;
}

.material-mail .resp-cont.ok {
    background-color: #70d250;
}

.material-mail .resp-cont.no {
    background-color: #cd0a0a;
    color: #ffffff;
}

.material-mail button{float: left;
}

.material-mail button.sending span{
    opacity: 0;
}

.material-mail button.sending {
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    background: url("/images/loader.gif") no-repeat center;
}

.marketing-mail a {
     display: block;
}

.marketing-status {
    margin-bottom: 20px;
    padding-left: 10px;
    border-bottom: 1px inset #ccc;
}

.marketing-pic img {
    max-width: 100%;
}

.marketing-banner .banner-cont {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.marketing-banner .banner-iframe {
    float: left;
    overflow: auto;
    width: 70%;
    height: 100%;
}

.marketing-banner .banner-code {
    float: right;
    width: 30%;
    height: 100%;
}

.marketing-banner .banner-code label {
    display: block;
    background-color: #eeeeee;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

.marketing-banner .banner-code input {
     display: none;
}

.marketing-banner .banner-code input:checked + textarea{
    display: block;
}

.marketing-banner .banner-code textarea {
    display: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.marketing-share {
    overflow: hidden;
    position: relative;
}

.marketing-share img{
    float: left;
    margin: 5px;
}

.marketing-share h3, p{
    margin: 0;
}

.marketing-share img{
    float: left;
    margin: 5px;
}

.marketing-share .share-buttons span {
    cursor: pointer;
}

.marketing-share .share-buttons span {
    cursor: pointer;
}

.marketing-share .share-buttons {
}

#marketing-container {
    position: relative;
}

.marketing-loader {
    position: absolute;
    left: 50%;
    top: 50%;
}

.curtain {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    display: none;
}

.load .curtain{
    display: block;
}

/*** jg-pages ***/
.jg-pages-list {
    overflow: hidden;
    list-style: none;
}

.jg-page {
    padding: 10px 10px;
    background-color: #a1a1a1;
    cursor: pointer;
    float: left;
}

.jg-page.current {
    background-color: red;
}

/******/

.marketing-block {
    border-bottom: 1px solid #000000;
}
.marketing-block-head {
    background-color: #ddd;
}

.marketing-block-body label {
    display: block;
}

.head-menu {
    margin: 0;
    background-color: #ddd;
}

.head-menu ul {
    overflow: hidden;
    padding: 0;
    list-style: none;
}

.head-menu li {
    float: left;
}

.head-menu li + li {
    border-left: 1px solid #000;
}

.head-menu li a {
    display: block;
    padding: 9px 30px;
    font-size: 17px;
}

/*** jg-counter ***/
.jg-counter-container {
    position: relative;
}

.jg-counter-container input {
    width: 38px;
	padding-top: 10px;
	padding-left: 13px;
	margin-left: 85px;
	padding-bottom: 9px;
	border: 1px solid #cecece;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.jg-counter-container .jg-counter-dec-button, .jg-counter-container .jg-counter-inc-button {
	position: absolute;
	width: 15px;
	height: 16px;
	cursor: pointer;
	text-align: center;
	color: #ffffff;
}
.jg-counter-inc-button {
	right: -26px;
	top: 3px;
	background-color: #b1eaff;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	line-height: 0.6;
}

.jg-counter-dec-button {
	right: -26px;
	top: 19px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	background-color: #7ad9fc;
	line-height: 0.4;
}

.jg-counter-inc-button:hover, .jg-counter-dec-button:hover {
    opacity: 1;
}
/*
.jg-counter-inc-button {
    top: -34px;
    background-position: -17px -10px;
}
.jg-counter-dec-button {
    bottom: -38px;
    background-position: -17px 24px;
}*/
.jg-counter-price-container {
    position: absolute;
    bottom: 0;
	left: 0;
	top: 5px;
}

/******/


/***   jg-popup */
.jg-popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2147483647;
}
.jg-popup-background {
    width: 100%;
    height: 100%;
    background-color: #aabbcc;
    opacity: 0.7;
    z-index: 1;
}

.jg-popup-close-button {
    z-index: 2;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
    height: 64px;
    background-image: url("ext/icons/jg-popup-close.png");
    background-size: cover;
}

.jg-popup-close-button:hover {
    opacity: 0.8;
}

.jg-popup-box {
    z-index: 2;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 10%;
    bottom: 10%;
}

/* jg-popup   ***/

/***   jg-tabs */

.jg-tabs-container {
    border-radius: 5px;
}

.jg-tabs-head {
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}


.jg-tabs-head li {
    float: left;
	margin-right: 1px;
	width: 95px;
	text-align: center;
	position: relative;
}

.jg-tabs-head i {
	background-image: url("images/active-tab-trngl.png");
	width: 12px;
	height: 6px;
	position: absolute;
}

.jg-tabs-head li a {
    display: block;
    background-color: #247897;
	font-size: 11px;
	border-bottom: none;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
    color: #ffffff;
	text-decoration: none;
    padding: 6px 8px;
    cursor: pointer;
}

.jg-tabs-head li a:hover {
    background-color: #a1c910;
    color: #000000;
}
.jg-tabs-body {
    padding: 4px 20px;
	border-top: 1px solid #ebebeb;
	margin-top: 0;
}

.jg-tabs-body > div {
    width: 100%;
}

li.jg-tabs-head-active a{
    background-color: #a1c910;
    color: #1d3037;
}

li.jg-tabs-head-active {
	position: static;
}

/* jg-tabs   ***/

/***   jg-shopping-cart */

.jg-shopping-cart-products table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #E6E6E6;

}
#cart-products-container {
    padding: 5px;
}

.jg-shopping-cart-products table td {
    text-align: center;
}

.jg-shopping-cart-remove-product {
    background-image: url("ext/icons/jg_remove_product.png");
    background-size: cover;
    display: block;
    width: 10px;
    height: 10px;
    cursor: pointer;
}
/* jg-shopping-cart ***/

#loginTabs

#infoBox {
    text-align: center;
}
#infoBox a {
    margin: 0 10px;
}

#searchFormContainer {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    width: 300px;
    height: 50px;
}
#languagesListContainer {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

#shopping-cart-container {
    position: relative;
    display: inline;
}
.cart-menu {
    padding: 5px;
    position: absolute;
    background-color: #FFFFFF;
    right: 0;
    width: 300px;
    top: 20px;
    border: 1px double #E6E6E6;
    display: none;
}

#pass_res_init{
    display: none;
}

/*#loginPopup {
    background-color: #808080;
    border: 5px double white;
    border-radius: 5px;
    position: absolute;
    z-index: 999;
    left: 33%;
    right: 33%;
    top: 10%;
}*/
.search-mark{
    background-color: #ff0000;
    color: #ffffff;
}
#fb-login-btn1 {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-image: url(images/facebook/facebook_login_button.png);
    background-size: cover;
}
#fb-login-btn2 {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-image: url(images/facebook/facebook_login_button.png);
    background-size: cover;
}

#twitter-login-btn {
    cursor: pointer;
    display: block;
    width: 80px;
    height: 80px;
    background-image: url(images/twitter/twitter_login.png);
    background-size: contain;
}

/*----------------------------------*/

.scrollable {
    position: relative;
}

.scrollable:focus {
    outline: 0;
}

.scrollable .viewport {
    position: relative;
    overflow: hidden;
}

.scrollable .viewport .overview {
    position: absolute;
}

.scrollable .scroll-bar {
    display: none;
}

.scrollable .scroll-bar.vertical {
    position: absolute;
    right: 0;
    height: 100%;
}

.scrollable .scroll-bar.horizontal {
    position: relative;
    width: 100%;
}

.scrollable .scroll-bar .thumb {
    position: absolute;
}

.scrollable .scroll-bar.vertical .thumb {
    width: 100%;
    min-height: 10px;
}

.scrollable .scroll-bar.horizontal .thumb {
    height: 100%;
    min-width: 10px;
    left: 0;
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Default skin*/

.scrollable.default-skin {
    padding-right: 10px;
    padding-bottom: 6px;
}

.scrollable.default-skin .scroll-bar.vertical {
    width: 6px;
}

.scrollable.default-skin .scroll-bar.horizontal {
    height: 6px;
}

.scrollable.default-skin .scroll-bar .thumb {
    background-color: black;
    opacity: 0.4;
    border-radius: 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.scrollable.default-skin .scroll-bar:hover .thumb {
    opacity: 0.6;
}

/*Gray skin*/

.scrollable.gray-skin {
    padding-right: 17px;
}

.scrollable.gray-skin .scroll-bar {
    border: 1px solid gray;
    background-color: #d3d3d3;
}

.scrollable.gray-skin .scroll-bar .thumb {
    background-color: gray;
}

.scrollable.gray-skin .scroll-bar:hover .thumb {
    background-color: black;
}

.scrollable.gray-skin .scroll-bar.vertical {
    width: 10px;
}

.scrollable.gray-skin .scroll-bar.horizontal {
    height: 10px;
    margin-top: 2px;
}

/*Modern skin*/
.scrollable.modern-skin {
    padding-right: 17px;
}

.scrollable.modern-skin .scroll-bar {
    border: 1px solid gray;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: inset 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 5px #888;
    box-shadow: inset 0 0 5px #888;
}

.scrollable.modern-skin .scroll-bar .thumb {
    background-color: #95aabf;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #536984;
}

.scrollable.modern-skin .scroll-bar.vertical .thumb {
    width: 8px;
    background: -moz-linear-gradient(left, #95aabf 0%, #547092 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #95aabf), color-stop(100%, #547092));
    background: -webkit-linear-gradient(left, #95aabf 0%, #547092 100%);
    background: -o-linear-gradient(left, #95aabf 0%, #547092 100%);
    background: -ms-linear-gradient(left, #95aabf 0%, #547092 100%);
    background: linear-gradient(to right, #95aabf 0%, #547092 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#95aabf', endColorstr='#547092',GradientType=1 )";
}

.scrollable.modern-skin .scroll-bar.horizontal .thumb {
    height: 8px;
    background-image: linear-gradient(#95aabf, #547092);
    background-image: -o-linear-gradient(#95aabf, #547092);
    background-image: -moz-linear-gradient(#95aabf, #547092);
    background-image: -webkit-linear-gradient(#95aabf, #547092);
    background-image: -ms-linear-gradient(#95aabf, #547092);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#95aabf', endColorstr='#547092',GradientType=0 )";
}

.scrollable.modern-skin .scroll-bar.vertical {
    width: 10px;
}

.scrollable.modern-skin .scroll-bar.horizontal {
    height: 10px;
    margin-top: 2px;
}

/*
  $Id$

  osCommerce, Open Source E-Commerce Solutions
  http://www.oscommerce.com

  Copyright (c) 2010 osCommerce

  Released under the GNU General Public License
*/

/*! perfect-scrollbar - v0.4.5
* http://noraesae.github.com/perfect-scrollbar/
* Copyright (c) 2013 HyeonJe Jun; Licensed MIT */




/*body {
    background: #fff;
    color: #000;
    margin: 0;
    font-size: 11px;
}
#bodyContent {
}*/

#header {
    height: 0;  /*TODO #header*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #cccccc;
    z-index: 1;
}

#storeLogo {
    float: left;
    margin-top: 5px;
}

#headerShortcuts {
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}

#columnLeft {
    padding-top: 5px;
}

#columnRight {
    padding-top: 5px;
}

.infoBoxContainer { }

.infoBoxHeading {
    padding: 2px;
    font-size: 11px;
	background-color:#ddd;
}

.infoBoxContents {
    padding: 5px;
    font-size: 11px;
    line-height: 1.5;
}

.contentContainer {
    padding-bottom: 10px;
}

.contentContainer h2 {
    font-size: 16px;
    text-decoration: underline;
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.contentText, .contentText table {
    padding: 5px 0 5px 0;
    font-size: 11px;
    line-height: 1.5;
}

.productListTable {
    padding: 5px;
    font-size: 11px;
    line-height: 1.5;
}

.productListTable tr.alt td {
    background-color: #ecf6fc;
}

.fieldKey {
    font-size: 11px;
    font-weight: bold;
    line-height: 1.5;
    width: 150px;
}

.fieldValue {
    font-size: 11px;
    line-height: 1.5;
}

img {
    border: 0;
}

table, p {
    font-size: 11px;
    line-height: 1.5;
}

#piGal ul {
    list-style-type: none;
}

#piGal img {
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
}

#piGal .outer {
    margin-left: -30px;
}

.buttonSet {
    clear: both;
}

.buttonAction {
    float: right;
}

.boxText {  font-size: 10px; }
.errorBox { font-family : Verdana, Arial, sans-serif; font-size : 10px; background: #ffb3b5; font-weight: bold; }
.stockWarning { font-family : Verdana, Arial, sans-serif; font-size : 10px; color: #cc0033; }
.productsNotifications { background: #f2fff7; }
.orderEdit { font-family : Verdana, Arial, sans-serif; font-size : 10px; color: #70d250; text-decoration: underline; }


TR.header {
    background: #ffffff;
}

TR.headerNavigation {
    background: #bbc3d3;
}

TD.headerNavigation {
    
    font-size: 10px;
    background: #bbc3d3;
    color: #ffffff;
    font-weight : bold;
}

A.headerNavigation {
    color: #FFFFFF;
}

A.headerNavigation:hover {
    color: #ffffff;
}

TR.headerError {
    background: #ff0000;
}

TD.headerError {
    
    font-size: 12px;
    background: #ff0000;
    color: #ffffff;
    font-weight : bold;
    text-align : center;
}

TR.headerInfo {
    background: #00ff00;
}

TD.headerInfo {
    
    font-size: 12px;
    background: #00ff00;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

TR.footer {
    background: #bbc3d3;
}

TD.footer {
    
    font-size: 10px;
    background: #bbc3d3;
    color: #ffffff;
    font-weight: bold;
}

.infoBox {
    background: #b6b7cb;
}

.infoBoxNotice {
    background: #FF8E90;
}

.infoBoxNoticeContents {
    background: #FFE6E6;
    
    font-size: 10px;
}

TD.infoBoxHeading {
    
    font-size: 10px;
    font-weight: bold;
    background: #bbc3d3;
    color: #ffffff;
}

TD.infoBox, SPAN.infoBox {
    
    font-size: 10px;
}

TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd {
    background: #f8f8f9;
}

TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even {
    background: #f8f8f9;
}

TABLE.productListing {
    border: 1px solid #b6b7cb;
    border-spacing: 1px;
}

.productListingHeader {
    table-layout: fixed;
    color: #FFFFFF;
    font-weight: bold;
}

.productListingHeader A:hover {
    color: #FFFFFF;
}

.productListingData {
    table-layout: fixed;
}

A.pageResults {
    color: #0000FF;
}

A.pageResults:hover {
    color: #0000FF;
    background: #FFFF33;
}

TD.pageHeading, DIV.pageHeading {
    
    font-size: 20px;
    font-weight: bold;
    color: #9a9a9a;
}

TR.subBar {
    background: #f4f7fd;
}

TD.subBar {
    
    font-size: 10px;
    color: #000000;
}

TD.main, P.main {
    
    font-size: 11px;
    line-height: 1.5;
}

TD.smallText, SPAN.smallText, P.smallText {
    
    font-size: 10px;
}

TD.accountCategory {
    
    font-size: 13px;
    color: #aabbdd;
}

TD.tableHeading {
    
    font-size: 12px;
    font-weight: bold;
}

SPAN.newItemInCart {
    
    font-size: 10px;
    color: #ff0000;
}

INPUT, SELECT {
    
    font-size: 11px;
}

TEXTAREA {
    width: 100%;
    margin: 0;
    
    font-size: 11px;
    resize: none;
}

SPAN.greetUser {
    
    font-size: 12px;
    color: #f0a480;
    font-weight: bold;
}

TABLE.formArea {
    background: #f1f9fe;
    border: 1px solid #7b9ebd;
}

TD.formAreaTitle {
    
    font-size: 12px;
    font-weight: bold;
}

SPAN.markProductOutOfStock {
    
    font-size: 12px;
    color: #c76170;
    font-weight: bold;
}

SPAN.productSpecialPrice {
    
    color: #ff0000;
}

SPAN.errorText {
    
    color: #ff0000;
}

.moduleRow { }
.moduleRowOver { background-color: #D7E9F7; cursor: pointer; cursor: hand; }
.moduleRowSelected { background-color: #E9F4FC; }

.checkoutBarFrom, .checkoutBarTo {  font-size: 10px; color: #8c8c8c; }
.checkoutBarCurrent {  font-size: 10px; color: #000000; }

/* message box */

.messageBox {  font-size: 10px; }
.messageStackError, .messageStackWarning {  font-size: 10px; background-color: #ffb3b5; }
.messageStackSuccess {  font-size: 10px; background-color: #99ff00; }

/* input requirement */

.inputRequirement {  font-size: 10px; color: #ff0000; }

/* buttons */

.tdbLink a { }

.tdbLink button { }

/* account link list */

.accountLinkList {
    list-style-type: none;
    margin: 2px 2px 2px 10px;
    padding: 5px;
}

.accountLinkListEntry {
    float: left;
    margin-right: 5px;
}

#partners-analytic {
    border: 1px solid #000000;
}

#partners-analytic caption {
    background-color: #eee;
}
#partners-analytic th {
    background-color: #eee;
}

#partners-analytic td {
    padding: 7px;
    background-color: #eee;
}

.contentTextMain > table { border-collapse: collapse; border-spacing: 0; margin:10px auto; border:0;  }
.contentTextMain > table td { border: 1px solid #ccc; vertical-align:middle; text-align:center; margin:0; padding:2px 5px; }
.contentTextMain > p { padding:5px 0; }

