/***   jg-tabs */

.jg-tabs-container {
    border-radius: 5px;
}

.jg-tabs-head {
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 5px 5px 0 0;
    background-color: #eee;
    overflow: hidden;
    list-style: none;
}

.jg-tabs-head li {
    float: left;
}

.jg-tabs-head li a {
    display: block;
    background-color: #D7E9F7;
    border: 1px solid #727272;
    color: #212121;
    padding: 6px 8px;
    cursor: pointer;
}

.jg-tabs-head li a:hover {
    background-color: #E9F4FC;
    color: #000000;
}
.jg-tabs-body {
    border-radius: 0 0 5px 5px;
    padding: 4px 2px;
}

.jg-tabs-body > div {
    width: 100%;
}

li.jg-tabs-head-active a{
    background-color: #B3BAC5;
    color: #ffffff;
}

/* jg-tabs   ***/